@charset "utf-8";

:root{
  --main-yellow: #FFD900;
  --main-pink: #EE9DC2;
  --nav-color: #E868A3;
  --main-brown: #AB8A50;
}



.reser-main-bg{
  position: absolute;
  top: 0;
  left: 0;
  background: url(../img/bg/shop-main-bg.png) no-repeat center top 0;
  width: 100%;
  height: 750px;
  z-index: -10;
}

.menu-title{
  text-align: center;
  font-size: 73.39px;
  font-family: "Jersey 20", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--nav-color);
  margin: 220px 0 235px 0;
  text-transform: uppercase;
}

@media(max-width:1024px){
  .reser-main-bg{
  display: none;
}

.reser-tablet-bg{
  position: absolute;
  top: 0;
  left: 0;
  background: url(../img/bg/shop-tablet-bg.png) no-repeat center top 0;
  width: 100%;
  height: 700px;
  z-index: -10;
}
}

@media(max-width:765px){
  .reser-tablet-bg{
  display: none;
}

  .reser-mobile-bg{
    position: absolute;
    top: 0;
    left: 0;
    background: url(../img/bg/shop-mobile-bg-01.png) no-repeat center top 0;
    width: 100%;
    height: 672px;
    z-index: -10;
  }

  .menu-title{
    font-size: 60.39px;
  }
}

/*.menu-category*/

.menu-category{
  margin: 0 auto;
  padding: 23px 125px;
  display: flex;
  gap: 132px;
  width: 565px;
  height: 68px;
  background-color: #FFFCED;
  border-radius: 26.63px 26.63px 0 0;
  justify-content: center;
}

.menu-category li a{
  font-size: 18px;
  font-family: 'Paperlogy-5Medium';
  font-weight: 500;
  font-style: normal;
  color: var(--nav-color);
  text-transform: uppercase;
  position: relative;
}

.menu-category li.active a::before{
  content: "";
  display: block;
  width: 105%;
  height: 12px;
  background-color: #E868A3;
  opacity: 0.28;
  transform: skewX(-19deg);
  position: absolute;
  bottom: -5px;
  right: 0px;
}

@media(max-width:1400px){
.menu-title{
  margin: 220px 0 236px 0;
}
}

@media(max-width:1024px){

  .menu-title{
  margin: 220px 0 173px 0;
}

  .menu-category{
  padding: 26px 142px;
  gap: 150px;
  width: 642px;
  height: 77px;
  border-radius: 27.15px 27.15px 0 0;
}

.menu-category li a{
  font-size: 20.45px;
}
}

@media(max-width:765px){

  .menu-title{
  margin: 220px 0 188px 0;
}

  .menu-category{
  padding: 23px 125px;
  gap: 132px;
  width: 564px;
  height: 68px;
  border-radius: 26.58px 26.58px 0 0;
}

.menu-category li a{
  font-size: 17.96px;
}
}


.menu-donut{
  max-width: 1280px;
  margin: 0 auto;
}


/*.event-list*/

.store-list{
  margin:195px 0;
  display: flex;
  gap: 38px;
  flex-wrap: wrap;
  row-gap: 84px;
}

.store-list li{
  width: calc((100% - 114px) / 4);
  height: 425px;
  position: relative;
  box-shadow: 3.85px 2.7px 18.9px -1.62px rgba(0, 0, 0, 0.08);
  cursor: pointer;
  border-radius: 27.78px;
  overflow: hidden;
}


.store-list li:hover img{
  transform: scale(1.3);
}

.store-list li img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 27.78px;
  transition: all 0.5s;
}


.store-list li .store-txt{
  width: 100%;
  height: 108px;
  padding: 26px 20px;
  text-align: center; 
  background-color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
}

.store-list li .store-txt h2{
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: 400;
}

.store-list li .store-txt p{
  font-size: 14px;
  color: var(--nav-color);
}



@media(max-width:1200px){
  .menu-donut{
  max-width: 844px;
}

.store-list{
  gap: 39px;
}

.store-list li{
  width: calc((100% - 78px) / 3);
}
}

@media(max-width:765px){
  .menu-donut{
  max-width: 665px;
}

.store-list{
  gap: 29px;
}

.store-list li{
  width: calc((100% - 29px) / 2);
}

.store-list li{
  height: 428px;
}
}

/*search*/

.search{
  display: flex;
  justify-content: space-between;
  margin: 90px 0 40px 0;
}

.search li:nth-child(1){
  font-size: 51.72px;
  font-family: "Jersey 20", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--nav-color);
  text-transform: uppercase;
}

.search li:nth-child(2){
  width: 294px;
  height: 54px;
  border-radius: 25.05px;
  border: 2.42px solid var(--nav-color);
  background-color: transparent;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
}

.search input{
  background-color: transparent;
  width: 80%;
  height: 100%;
  font-size: 20px;
  color: #5e5e5e;
}

.search li:nth-child(2) img{
  width: 29px;
  height: 29px;
}

@media(max-width:1024px){
  .search{
  display: flex;
  justify-content: center;
  margin: 126px 0;
  flex-wrap: wrap;
  row-gap: 59px;
}
.search li:nth-child(1){
  width: 100%;
  text-align: center;
}
}